body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #fff;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

#language-toggle button {
    margin: 5px;
    padding: 10px;
    cursor: pointer;
}

.lang {
    text-align: left;
}

a {
    color: #000;
}

a:hover {
    color: #555;
}

img.logo {
    width: 30px;
    height: 30px;
}
